<script lang="ts">
    import type { Thread } from '../../../models/Thread'
    import { enhance } from '$lib/form';
    import { creatorColor } from '$lib/work_with_color'
    import { formatTime } from '$lib/work_with_time'

    export let thread: Thread;
    export let board: string;

    let creatingComment: boolean = false;
    
    let fileInput: HTMLInputElement;
    let base64image: string = null;
    const onFileSelected = (e) => {
        let image = e.target.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e => {
                base64image = e.target.result.toString();
            }	
    }

    let commentText: string = "";
    const addReply = (id: string) => {        
        commentText += ">>" + id
    }

    // if there are replies it returns true, else false
    // and it memoizes the replies
    // and if get_replies is set, then it returns the
    // previously memoized replies
    let replies_memo: string[] = [];
    const listReplies = (id: string, get_replies: boolean = false): any =>
    {
        if(get_replies) return replies_memo;

        replies_memo = [];
        thread.comments.forEach(comment => {
            if(comment.commentText.includes(id))
                replies_memo.push(comment.id);
        })

        if(replies_memo.length <= 0) return false;
        return true
    }
</script>

<svelte:head>
    {#if thread != null}
	    <title>{thread.threadName}</title>
    {/if}
</svelte:head>

{#if thread == null}
    <h1>Does not exist</h1>
    <a href="/board">Boards</a>
{:else}

<a href="/board/{board}"><h1>{board} Board</h1></a>

<section id="create comment" class="blackbox">
    <div hidden={creatingComment} >
        <h3>Create Comment:</h3>
        <form
            action="/board/{board}/{thread.id}"
            method="post"
            on:submit={() => creatingComment = true}
            use:enhance={{
                result: async ({ form }) => {
                    form.reset();
                    commentText = "";
                    creatingComment = false; // to show form again
                    base64image = null;
                }
            }} 
        >
            <textarea name="CommentText" placeholder="Comment Contents" style="height: 150px; width: 350px" bind:value="{commentText}"></textarea>
            <br> <input type="submit" value="Create Comment" />
            <input name="base64image" type="hidden" value="{base64image}" />
            <input type="file" accept=".png,.jpg,.gif,.bmp,.mp4" bind:this={fileInput} on:change={(e) => onFileSelected(e)}/>
        </form>
    </div>
    <div hidden={!creatingComment}>
        <h3> Creating Comment...</h3>
    </div>
</section>
    

<div class="threadbox">
    <div id="{thread.id}">
        <span style="line-height: 2rem;">
            <a href="" on:click={() => addReply(thread.id)}>{thread.id}</a>
            at {formatTime(thread.creationDate)} <br>
        ->  <span style="{creatorColor(thread.threadCreator )}"> 
                {thread.threadCreator}
            </span> <br>
        {#if listReplies(thread.id)}
        -&gt  <span style="font-size: 0.7rem;">   <!--| &gt is > |-->
                {#each listReplies(thread.id, true) as id}
                    <a href="#{id}" onmouseover="document.getElementById('{id}').classList.add('targeted')" onmouseleave="document.getElementById('{id}').classList.remove('targeted')">>>{id}</a>&nbsp;;&nbsp;
                {/each}
            </span>
        {/if}
        </span>
        <hr>

        <h3>{thread.threadName}</h3>

        {#if thread.imageId!= null && thread.imageId != undefined}
            {#if thread.fileType == 'image'}
                <a href="{thread.imageId}" target="_blank" rel="noopener noreferrer">
                    <img src="{thread.imageId}" alt="{thread.imageId}" height="300px" width="300px"> <br>
                </a>
            {:else if thread.fileType == 'video'}
                <video width="320" height="240" controls muted>
                    <source src="{thread.imageId}">
                </video>
            {/if}
        {/if}

        <p>{@html thread.threadText}</p> 
    </div>

    {#each thread.comments as comment}
        <div class="commentbox" id="{comment.id}">
            <span style="line-height: 2rem;">
                <a href="" on:click={() => addReply(comment.id)}>{comment.id}</a> 
                at {formatTime(comment.creationDate)} <br>
            ->  <span style="{creatorColor(comment.commentCreator)}">
                    {comment.commentCreator}
                </span> <br>
            
            {#if listReplies(comment.id)}
            -&gt  <span style="font-size: 0.7rem;">   <!--| &gt is > |-->
                    {#each listReplies(comment.id, true) as id}
                        <a href="#{id}" onmouseover="document.getElementById('{id}').classList.add('targeted')" onmouseleave="document.getElementById('{id}').classList.remove('targeted')">>>{id}</a>&nbsp;;&nbsp;
                    {/each}
                </span>
            {/if}
            </span>
            <hr>

            {#if comment.imageId!= null && comment.imageId != undefined}
                {#if comment.fileType == 'image'}
                    <a href="{comment.imageId}" target="_blank" rel="noopener noreferrer">
                        <img src="{comment.imageId}" alt="{comment.imageId}" height="300px" width="300px"> <br>
                    </a>
                {:else if comment.fileType == 'video'}
                    <video width="320" height="240" controls muted>
                        <source src="{comment.imageId}">
                    </video>
                {/if}
            {/if}

            <p>{@html comment.commentText}</p>
        </div>
    {/each}
</div>

{/if}