<script lang="ts">
    import type { Thread } from '../../../models/Thread';
    import { enhance } from '$lib/form';
    import { creatorColor } from '$lib/work_with_color'
    import { formatTime } from '$lib/work_with_time'

    export let threads: Thread[]
    export let board: string 

    let creaingThread: boolean = false;

    let fileInput: HTMLInputElement;
    let base64image: string = null;
    const onFileSelected =(e)=>{
        let image = e.target.files[0];
            let reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e => {
                base64image = e.target.result.toString();
            }
    }
</script>

<svelte:head>
    {#if threads != null}
	    <title>{board}</title>
    {/if}
</svelte:head>

{#if threads == null}
    <h1>Does not exist</h1>
    <a href="/board">Boards</a>
{:else}

<h1>{board} Board</h1>

<section id="create thread" class="blackbox">
<div hidden={creaingThread} >
    <h3>Create Thread:</h3>
    <form
        action="/board/{board}"
        method="post"
        on:submit={() => creaingThread = true}
        use:enhance={{
            result: async ({ form }) => {
                form.reset();
                creaingThread = false; // to show form again
                base64image = null;
            }
        }} 
    >
        <textarea name="ThreadName" placeholder="Thread Name" style="height: 1.5rem; width: 350px;"></textarea> <br>
        <textarea name="ThreadText" placeholder="Thread Contents" style="height: 150px; width: 350px;"></textarea>
        <br> <input type="submit" value="Create Thread" />
        <input name="base64image" type="hidden" value="{base64image}" />
        <input type="file" accept=".png,.jpg,.gif,.bmp,.mp4" bind:this={fileInput} on:change={(e) => onFileSelected(e)}/>
        <!-- {#if base64image != null}
            {#if isImage()}
                
            {/if}
            <br> <img src="{base64image}" alt="" />
        {/if} -->
    </form>
</div>
<div hidden={!creaingThread}>
    <h3> Creating Thread...</h3>
</div>
</section>

<!-- FOR RULES THREAD -->
<!-- {#if threads.length > 0}
    {#if threads.find((e) => e.id == "rules") != undefined}
    <div class="threadbox">
        <h3>Rules:</h3> <p>{threads.find((e) => e.id == "rules").threadText}</p>
    </div>
    {/if}
{/if} -->

{#each threads as thread}
    {#if thread.id != "rules"}
    <div class="threadbox" id="{thread.id}">
        <span style="line-height: 2rem;">
            <a href="/board/{board}/{thread.id}">{thread.id}</a>
            at {formatTime(thread.creationDate)} <br>   
        ->  <span style="{creatorColor(thread.threadCreator )}"> 
                {thread.threadCreator}
            </span>
        </span>
        <hr>
        
        <h3>{thread.threadName}</h3>

        {#if thread.imageId!= null && thread.imageId != undefined}
            {#if thread.fileType == 'image'}
                <a href="{thread.imageId}" target="_blank" rel="noopener noreferrer">
                    <img src="{thread.imageId}" alt="{thread.imageId}" height="300px" width="300px"> <br>
                </a>
            {:else if thread.fileType == 'video'} 
                <video width="320" height="240" controls muted>
                    <source src="{thread.imageId}">
                </video>
            {/if}  
        {/if}

        <p>{@html thread.threadText}</p>
    </div>
    {/if}
{/each}

{/if}